*.toml
*~ 
*.tmp
*.pdf
*.svg
*.tif
*.shx
*.prj
*.shp
*.vrt
*.ppt*
*.zip
*.gz
*.dbf
*.bil
*.hdr
*.stx
*.xml
*.DS_Store
*.shp
*.png
*.jpg
*.jpeg
*.aux
*.bbl
*.blg
*.fdb*
*.fls
*.log
*.toc
*.sty*
*.qgs
*.doc*
*.mp4
*.webm
*.mkv
*.m4a
*.xls*
__pycache__
Write-Up/
Reduntant/
.ipynb_checkpoints/